@import './scss/style.scss';

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  background-color: transparentize($theme-black, .1);
  background-position: center;
  background-size: 10px 10px;
  background-image: linear-gradient(0deg, transparentize($theme-black, 1), transparentize($theme-black, 1) 90%, rgba(255, 255, 255, .1) 90%, rgba(255, 255, 255, .1)),
  linear-gradient(90deg, transparentize($theme-black, 1), transparentize($theme-black, 1) 90%, rgba(255, 255, 255, .1) 90%, rgba(255, 255, 255, .1))
}
